.SavedWorkoutsPage {
    display: flex;
    justify-content: space-between;
  }
  
  .WorkoutList {
    flex: 1;
    margin-right: 20px;
  }
  
  .WorkoutDetail {
    flex: 1;
  }

  h1.SavedWorkout {
    color: white;
  }
  