.SavedWorkoutsPage {
    display: flex;
    flex-direction: column;
  }
  
  .WorkoutListSection {
    display: flex;
  }
  
  .WorkoutList {
    flex: 1;
  }
  
  .WorkoutDetail {
    flex: 1;
  }
  
  h1 {
    margin-top: 0;
  }
  
  @media (min-width: 768px) {
    .SavedWorkoutsPage {
      flex-direction: row;
    }
  
    .WorkoutListSection {
      flex: 1;
      margin-right: 20px;
    }
  }
  