/* Top (main) Nav Bar */

.main-nav .navbar {
    margin-top: 16px; 
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    background-color: black;
    padding: 16px;
    border-radius: 15px;
    flex-direction: column;
  }
  
  .main-nav .brand-and-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .main-nav .navbar-brand {
    margin: 0;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .main-nav .nav-toggle-button,
  .main-nav .close-nav-button {
    color: orange;
    font-size: 1.5rem;
  }
  
  .main-nav .nav-toggle-button.hidden,
  .main-nav .close-nav-button.hidden {
    display: none;
  }
  
  .main-nav ul {
    list-style-type: none;
  }
  
  .main-nav .nav-links a {
    color: orange;
  }
  
  .main-nav .username-logout li:first-child {
    color: white;
  }
  
  .main-nav .collapsible-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-top: 20px;
    gap: 40px
  }
  
  .main-nav .collapsible-nav.hidden {
    display: none;
  }
  
  .main-nav .collapsible-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .main-nav .username-logout {
    display: flex;
    gap: 20px;
  }
  
  .main-nav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .auth-links {
    border-top: 1px solid white;
    width: 136px;
  }
  
  .auth-links li:first-child {
    margin-top: 10px;
  }
  
  .auth-links .username-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }