body {
    background-image: linear-gradient(rgba(10, 39, 51, .8), rgba(10, 39, 51, .8)), url(./assets/images/fitnessWitnessBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  .page {
    margin-bottom: 20px
  }