.App a {
  text-decoration: none;
}

.page-title {
  color: white;
  margin: 10px auto 20px;
  background-color: black;
  display: inline-block;
  padding: 16px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

