.NewWorkoutPage {
  display: flex;
  justify-content: space-between;
}

.NewWorkoutPage aside {
  flex: 1;
  margin-right: 20px;
}

.NewWorkoutPage .ExerciseOptionList {
  flex: 1;
  margin-right: 20px;
}

.NewWorkoutPage .WorkoutDetail {
  flex: 1;
}
