
.NewWorkoutPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.NewWorkoutPage h1 {
  color: white;
  flex-basis: 100%;
  text-align: center;
}

.NewWorkoutPage .BodyPartList {
  flex-basis: 30%;
  margin-right: 20px;
}

.NewWorkoutPage .ExerciseOptionList {
  flex-basis: 30%;
  margin-right: 20px;
}

.NewWorkoutPage .WorkoutDetail {
  flex-basis: 30%;
}