.create-workout-page {
    text-align: center;
    color: white;
}

.create-workout-page form label {
    display: block;
}

.create-workout-page .form input {
    display: block;
}

.create-workout-page .workout-creator {
    border: 1px solid white;
    height: calc(99vh - 175px);
    margin: 0 16px;
}