.create-workout-page {
    text-align: center;
    color: white;
}

.create-workout-page form label {
    display: block;
}

.create-workout-page .new-workout-form label {
    margin-top: 10px;
}

.create-workout-page .form input {
    display: block;
}

.create-workout-page .workout-creator {
    border: 1px solid white;
    height: calc(100vh - 182px);
    width: calc(100vw - 32px);
    margin: 0 auto;
    display: grid;
    grid-template: [row1-start] "new-workout-form" 0.9fr [row1-end]
    [row2-start] "exercise-select" 1.1fr  [row2-end]
    / auto;
    justify-items: center;
    align-items: center;
}

.create-workout-page .new-workout-form {
    grid-area: new-workout-form;
    border: 1px solid white;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
}

.create-workout-page .exercise-select {
    grid-area: exercise-select;
    border: 1px solid white;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
}

.create-workout-page .filters,
.create-workout-page .exercise-options {
    height: calc(100% - 62px);
    width: calc(100% - 32px);
    margin: 0 auto;
    border: 1px solid white;
}


.create-workout-page .exercise-list {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: calc(100% - 120px);
    border: 1px solid white;
    margin: 25px auto auto;
}

.create-workout-page .exercise-select > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-workout-page .exercise-options input {
    margin-top: 10px;
}

.create-workout-page .exercise-options button {
    margin: 10px auto;
    display: block;
}

.create-workout-page .filters {
    display: none;
}

.create-workout-page .filters h3 {
    margin-top: 10px;
}



