

.workouts-index-page p {
    color: white;
}

.workouts-index-page {
    text-align: center;
}

.workouts-index-page .workouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.workouts-index-page .workout {
    background-color: black;
    padding: 16px 16px 0;
    width: 100%;
    /* border-radius: 15px; */
}

.workouts-index-page a.workout {
    color: orange;
}

